/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.wrapper .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: anim 2s linear infinite;
}

@keyframes anim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.wrapper .loader::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.wrapper span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: textAnim 3s ease-in-out infinite;
}

@keyframes textAnim {
  50% {
    color: black;
  }
}
